<% @another_entries.each do |entry| %>
  <h1><%= entry.user.name %>さんとのチャット</h1>
<% end %>
<div class="d-flex flex-column">
    <% @messages.each do |m| %>
      <p><%= m.body %></p>
    <% end %>
</div>



</div>

<%= form_with model: @message do |f| %>
  <%= f.text_field :body %>
  <%= f.hidden_field :room_id, :value => @room.id %>
<% end %>
